@media all and (max-width: 1000px) 
{
    .time-table
    {
        
        
        font-family: 'Roboto', sans-serif;
        
        
        display: flex;
          
    
    }

}

@media all and (max-width: 670px)
{
    
    .time-table
    {
        
        
        font-family: 'Montserrat', sans-serif;

    }    
    .text
    {
        width: 100%;
    }

    .time
{
width: 100%;;

}
.place
{
    width: 100%;
}
}